:root {
  font-family: 'Lora', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color: #F0F0F0;
  background-color: #1E2B18;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-item.has-text-white:hover {
  color: #1E2B18 !important; /* Guld farve ved hover */
}

.container {
  background-image: url(./assets/lemonbg3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.product-container {
  display: flex;
  flex-direction: column;
}

.card {
  overflow: hidden;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column !important;
  }
  
  .column.is-half {
    width: 100% !important;
  }
  
  .image.is-3by2 {
    min-width: 100% !important;
  }
}